html {overflow-x:auto; overflow-y:hidden;}
#sidebar {position:absolute; top:10px; left:10px;
width: expression(document.body.clientWidth < 900? "100px" : document.body.clientWidth > 901? "150px" : "auto");}
body {margin:0; padding:0 10px 0 10px; border:0; height:100%; overflow-y:auto;}
#header, #main {
 padding:0, margin:0; zoom:1;
}