/**
 * ORCHARD THEME for DRUPAL 1.01
 * @author Psicomante - http://psicomante.katapekkia.net
 * @based Orchard by furado_extremamente on OWSD - http://www.oswd.org/user/profile/id/12139
 * @PHPTemplate bluemarine
 */
* { padding: 0; margin: 0; }

body {
  font-family: 'Trebuchet MS', Verdana, Arial, sans-serif;
  background: #5e5d50 url(images/bg.png) repeat fixed;
  color: #7a7b59;
  /*font-weight : lighter;*/
  /*line-height : 1.47em;*/
}

a {
  color: #625f53;
  text-decoration: none;
}

#globalwrap {
	margin:0 auto;
  width: 522px;
}


#header {
 height: 375px;
 width : 500px;
 margin: 10px 0px 0px 0px;
 background:#5e5d50 url(background.jpg) no-repeat top left;
 border-right: 1px solid #aec16f;
 border-top: 1px solid #aec16f;
 border-left: 1px solid #aec16f;
 color: #7a7b59;
}

#main {
 width : 500px;
 color : #5e5d50;
 background-color : #aec16f;
 border-right: 1px solid #aec16f;
 border-top: 1px solid #aec16f;
 border-left: 1px solid #aec16f;
 margin: 0px 0px 10px 0px;
}

#customheader {
  margin:0 auto;
  /*width: 490px;*/
}

#customheader .block {
  float:left;
  background : #6D7E36 url(images/bgbl.png) repeat fixed;
  border-right: 1px solid #D5DFB5;
  border-left: 1px solid #D5DFB5;
  width:140px;
  margin:5px 5px;
  padding: 5px;
  overflow: hidden;
  /*height: 400px;*/
}

#site-logo {
	
}

#site-logo img {
	 background-color : #aec16f;
   /*aggiunto per posizionare il blocco titolo sotto la cornice del wrapper*/
   padding: 4px;
	filter:alpha(opacity=65);
	opacity: 0.65;
	-moz-opacity:0.65;
}

#site-name {
 color : #625f53;
 letter-spacing : 2pt;
 font-weight : bold;
 font-size : 2em;
 line-height : 1.47em;
 background-color : #aec16f;
 /*aggiunto per posizionare il blocco
 	titolo sotto la cornice del wrapper*/
  zoom:1;
	filter:alpha(opacity=65);
	opacity: 0.65;
	-moz-opacity:0.65;
}
			
#site-slogan {
 color : #625f53;
 letter-spacing : 2pt;
 font-size : 1em;
 line-height : 1.47em;
 background-color : #aec16f;
 color: #444445;
 zoom:1;
 margin-top: 30px;
	filter:alpha(opacity=85);
	opacity: 0.85;
	-moz-opacity:0.85;
}

#mission {
	/*background: #A4BA5C;
	border: #667632 1px solid;*/
	padding: 7px;
	margin: 5px 7px;
   font-size: 1.2em;
   font-weight: bolder;
	text-align: center;
}

#center {
 top : 0;
 margin-left : 520px;
 margin-right : 15px;
 background-color : #5e5d50;
 color : #7a7b59;
}

#wrapper {
	padding : 5px;
}

/**
 * Menu Sitename e siteslogan
 */
 
#menu {
width: 500px;
 border-right: 1px solid #aec16f;
 border-top: 1px solid #aec16f;
 border-left: 1px solid #aec16f;
}

#menu ul li {padding: 0;margin: 0;}
#menu #secondary ul {text-align: right;}


#menu ul li a {
	padding: 0 5px;
	margin: 0;
}

#menu #primary ul li a:hover {
	background-color: #D2DDAE;
}

#menu #secondary a:hover {
	background-color: #647330;
	color: #A8BD62;
}

#menu #primary {
	font-size : 2em;
	font-weight: bold;
	background-color: #8DA345;
	color: #7a7b59;
	border-bottom: 2px solid #6B7C35;
}		

#menu #secondary {
	background-color: #A8BD62;
	color: #9C9E79;
	border-bottom: 2px solid #8EA446;
}		

/**
 * 
 * SIDEBAR
 */

#sidebar {
  width : 15% !important;
  min-width:100px;
 padding: 5px;
 border-top : 2px dashed #625f53;
 border-bottom : 2px dashed #625f53;
 position:fixed;
 top: 20px;
 left: 10px;
 background: #7A7B59;
 color: #BCBCA4;
 text-align: left;
}

#sidebar a {
	color: #BCBCA4;
}

#sidebar a:hover {
	border-bottom: 1px #BCBCA4 dashed;
}


#footer{
 color : #aec16f;
 font-size : 0.8em;
 text-align : right;
}

#footer a {
	color : #aec16f;
}

#search {
	float: right;
	margin: 5px;
}

input {
 background-color : #CBD7A3;
 color : #625f53;
 font-size : 12px;
 padding : 3px;
  border:1px solid;
}
input:hover {
 background-color : #EDF2E0;
}
textarea {
 background-color : #ECF0DD;
 color : #625f53;
 font-size : 12px;
 padding : 3px;
  border:1px solid;
}
.button {
 border:2px solid;
 padding : 2px;
 background-color : #aec16f;
 color : #625f53;
 font-size : 11px;
}

.button:active {
 background-color : #ECF0DD;
}

.node a:hover {
	text-decoration:none;
  border-bottom:1px solid #7D903E; 
	background: #7D903E url(images/bgbl.png);
}

.node .content a {
	text-decoration:none;
  font-weight: bold;
  border-bottom:1px dashed #7D903E; 
	color: #393931;
}

.node {
  text-align:justify;
}

/**
 * Node Drupal
 */
code{font:courier,serif;padding:5px 5px 5px 5px;background:#A4BA5C;border-left:3px #819740}
cite,quote,blockquote{display:block;padding-left:30px;margin-left:30px;background:#A4BA5C url("./cite.png") left top no-repeat;border-left:2px solid #819740}

#content img {
	padding: 5px;
	border: 1px dashed;
} 
.sticky {
	background: #A4BA5C;
	border: #667632 1px solid;
	padding: 7px;
}
#content .title, #content .title a {
  color: #625f53;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 5px;
  text-decoration: none;
}
#content .title a:hover {
  color: #7D903E;
  text-decoration: none;
}
.content h1 {
  font-size: 1.9em;
}
.content h2 {
  font-size: 1.7em;
}
.content h3 {
  font-size: 1.5em;
}
.content h4 {
  font-size: 1.3em;
}
.content h5 {
  font-size: 1.15em;
}
.info {
  color: #625f53;
  background:url(images/date.png) top left no-repeat;
  text-align:left;
  text-indent:18px;
}
.content .links {
  color: #625f53;
  padding: 0;
  margin: 0;
  background:url(images/comment.png) top left no-repeat;
  text-align:left;
  text-indent:18px;
}
.content .links a {
  font-weight: bold;
  color: #625f53;
}

.terms {
  background:url(images/brick.png) top left no-repeat;
  text-align:left;
  text-indent:18px;
}
.box {
  padding: 0 0 1.5em 0;
}
.box {
  padding: 0;
  margin: 0;
}
.box h2 {
  font-size: 9px;
}

.block .content {
  padding: 5px 5px 5px 5px;
}
.block {
  margin-bottom: 1.5em;
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: .5em 0 2.5em 0;

}
.node .content, .comment .content {
  margin: .5em 0 .5em 0;
}

.node .picture {
	border: 0;
	padding: 0;
	margin:0;
	float:right;
} 

.comment {
  /*border: 1px solid #667632;*/
  /*padding: .5em;*/
  margin-bottom: 1em;
}

.comment .odd {
  background: #BCCC86;
  padding: .5em;
}

.comment .even {
  background: #A5BB5E;
  padding: .5em;
}

.comment .title, .comment .title a {
  font-size: 0.3em;
}
.comment .new {
  font-weight: bold;
  font-size: 1em;
  margin-left: 2px;
  color: red;
}

.comment .submitted {
  background:url(user.png) top left no-repeat;
  text-align:left;
  text-indent:18px;
}

.comment .picture {
  border: 1px solid #fff;
  float: right;
  margin: 10px;
}
.links {
  font-size: 0.75em;
}
.links .prev, .links .next, .links .up {
  font-size: 1.15em;
}
.titles .prev, .titles .next  {
  font-size: 0.85em;
  font-weight: bold;
  color: #444;
}
.hide {
  display: none
}
.nav .links .next a:link {
  padding: 17px 17px 17px 0;
  background: transparent url(arrow-next.png) right center no-repeat;
}
.nav .links .next a:visited {
  padding: 17px 17px 17px 0;
  background: transparent url(arrow-next-visited.png) right center no-repeat;
}
.nav .links .next a:hover {
  padding: 17px 17px 17px 0;
  background: transparent url(arrow-next-hover.png) right center no-repeat;
}
.nav .links .prev a:link {
  padding: 17px 0 17px 17px;
  background: transparent url(arrow-prev.png) left center no-repeat;
}
.nav .links .prev a:visited {
  padding: 17px 0 17px 17px;
  background: transparent url(arrow-prev-visited.png) left center no-repeat;
}
.nav .links .prev a:hover {
  padding: 17px 0 17px 17px;
  background: transparent url(arrow-prev-hover.png) left center no-repeat;
}
.nav .links .up a:link {
  padding: 11px 0 17px 0;
  background: transparent url(arrow-up.png) center top no-repeat;
}
.nav .links .up a:visited {
  padding: 11px 0 17px 0;
  background: transparent url(arrow-up-visited.png) center top no-repeat;
}
.nav .links .up a:hover {
  padding: 11px 0 17px 0;
  background: transparent url(arrow-up-hover.png) center top no-repeat;
}

ul.primary, ul.primary li, ul.secondary, ul.secondary li {
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
}

#tabs-wrapper {
  margin: 0 -26px 1em;
  padding: 0 26px;
  border-bottom: 1px solid #e9eff3;
  position: relative;
}
ul.primary {
  padding: 0.5em 0 10px;
  /*float: left;*/
}
ul.secondary {
  clear: both;
  text-align: left;
  border-bottom: 1px solid #e9eff3;
  margin: -0.2em -26px 1em;
  padding: 0 26px 0.6em;
}
h2.with-tabs {
  /*float: left;*/
  margin: 0 2em 0 0;
  padding: 0;
}

ul.primary li a, ul.primary li.active a, ul.primary li a:hover, ul.primary li a:visited,
ul.secondary li a, ul.secondary li.active a, ul.secondary li a:hover, ul.secondary li a:visited {
  border: 0;
  background: transparent;
  padding: 4px 1em;
  margin: 0 0 0 1px;
  height: auto;
  text-decoration: none;
  position: relative;
  top: -1px;
}
ul.primary li.active a, ul.primary li.active a:link, ul.primary li.active a:visited, ul.primary li a:hover,
ul.secondary li.active a, ul.secondary li.active a:link, ul.secondary li.active a:visited, ul.secondary li a:hover {
  background: url(images/bg-tab.png) repeat-x 0 50%;
  color: #fff;
}
ul.primary li.active a,
ul.secondary li.active a {
  font-weight: bold;
}